li{
    list-style-type: none;
    float:right;
}

div{
    display:block;
    width: 100px;
}

img{
    width: 23%;
    height: auto;
    position: absolute;
    top: 0; bottom:200px; left: 0; right:0;
    margin: auto;
}

input{
    font-family: Helvetica;
    font-size: 13pt;
    height: 5.5%;
    width: 55%;
     position: absolute;
    top: 0; bottom: 50; left: 0; right:0;
    margin: auto;
}

